# Dependencies
node_modules/

# Build output
dist/
out-tsc/
tmp/

# Angular cache
.angular/

# Coverage
coverage/

# E2E
e2e/test-output/

# Environment files
.env
.env.*

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lock files
# yarn.lock
!package-lock.json

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
*~
