.dashboard-bottom-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  @media (min-width: 1024px) {
    grid-template-columns: 30% 1fr;
  }
}

.dashboard-bottom-left,
.dashboard-bottom-right {
  min-width: 0;
}
